<ion-header *ngIf = "!loading">
    <ion-toolbar>
        <ion-title>{{otherUser.name}}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <app-loader *ngIf = "loading"></app-loader>
    <div *ngIf = "!loading">
        <app-chat [chat] = "chat" [current] = "currentUser"
                  [other] = "otherUser"></app-chat>
        <div class = "inputArea">
            <form #inputForm = "ngForm">
                <div class = "inputField">
                    <input class = "textInput" id = "text" name = "text"
                           placeholder = "Start chatting..."
                           type = "text">
                    <button mat-icon-button type = "submit">
                        <ion-icon color = "primary" name = "send"></ion-icon>
                    </button>
                </div>
            </form>
        </div>
    </div>
</ion-content>
