<ion-header>
    <ion-toolbar>
        <ion-buttons slot = "start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title *ngIf = "!loading">
            {{otherUser.name}}
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <!--    <div *ngIf = "loading" class="loading">-->
    <!--        <img alt = "Chat" src = "assets/chat.svg">-->
    <!--    </div>-->
    <div *ngIf = "!loading">
        <app-chat [chat] = "chat" [current] = "currentUser"
                  [other] = "otherUser"></app-chat>
        <div class = "inputArea">
            <form #inputForm = "ngForm" (ngSubmit) = "handleSubmit()">
                <div class = "inputField">
                    <button (click) = "text = ''" mat-icon-button
                            type = "button">
                        <img alt = "Cancel Icon"
                             src = "assets/clear.svg">
                    </button>
                    <input (keypress) = "$event.code === 'enter' ?
                           handleSubmit(): undefined" [(ngModel)] = "text"
                           class = "textInput"
                           id = "text"
                           name = "text"
                           placeholder = "Start chatting..."
                           type = "text">
                    <button mat-icon-button type = "submit">
                        <img alt = "Send Icon" src = "assets/send-light.svg">
                        <!--                        <ion-icon color = "primary" name = "send"></ion-icon>-->
                    </button>
                </div>
            </form>
        </div>
    </div>
</ion-content>
