<ion-header class = "ion-no-border">
    <ion-toolbar>
        <ion-title>Settings</ion-title>
        <ion-buttons slot = "end">
            <button (click) = "logout()" color = "warn" mat-icon-button>
                <mat-icon>logout</mat-icon>
            </button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content *ngIf = "!loading" class = "ion-text-center">
    <div class = "profilePic">
        <ion-fab [edge] = "true" horizontal = "end" vertical = "bottom">
            <ion-fab-button (click) = "openActionSheet()">
                <ion-icon name = "image"></ion-icon>
            </ion-fab-button>
        </ion-fab>
        <img [src] = "currentAvatar || currentUser.profilePic || 'assets/Avatars/user-default.jpg'"
             alt = "Avatar" class = "profile">
    </div>
    <form #userForm = "ngForm" (ngSubmit) = "updateUser()" class = "form">
        <mat-form-field>
            <mat-label>Name</mat-label>
            <input [(ngModel)] = "currentUser.name" id = "name" matInput
                   name = "name"
                   type = "text">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Date of Birth</mat-label>
            <input [(ngModel)] = "currentUser.dob" id = "date" matInput
                   name = "dob" type = "date">
        </mat-form-field>
        <ion-button size = "block" type = "submit" color="success">Save
        </ion-button>
    </form>
</ion-content>
