<ion-header>
    <ion-toolbar (click) = "openUserDetails()" color = "warning">
        <ion-item color = "warning" lines = "none">
            <ion-avatar slot = "start" style = "display: inline-flex">
                <ion-img [src] = "this.oUser.uProPic"></ion-img>
            </ion-avatar>
            <ion-label>
                {{oUser.uName}}</ion-label>

        </ion-item>
    </ion-toolbar>
</ion-header>

<ion-content #content *ngIf = "this.chat" class = "ion-text-center">

    <ion-card *ngFor = "let message of this.chat.texts" class =
            "mat-elevation-z0">
        <app-text-layout [ngClass] = "message.from === this.user.uId ? 'ion-float-right' :
        'ion-float-left'"
                         [text] = "{from: message.from === this.user.uId ?
        this.user.uName : this.oUser.uName,data: message.data, status:
        message.status,lastUpdate: message.lastUpdateTime, color:
        message.from === this.user.uId ? 'primary' : 'warning',uName:
        this.user.uName }">
            >
        </app-text-layout>
    </ion-card>

</ion-content>

<ion-footer>
    <ion-item lines = "none">
        <ion-input (keypress) = "$event.key === 'Enter' ? sendMessage(): ''"
                   [(ngModel)] = "text"
                   color = "dark"
                   name = "message"
                   placeholder = "Enter a message..."
                   type = "text">
        </ion-input>
        <ion-icon (click) = "sendMessage()" color = "primary"
                  name = "paper-plane"
                  slot = "end">
        </ion-icon>
    </ion-item>

</ion-footer>

