$current-background: var(--ion-color-warning);
$other-background: var(--ion-color-success);
$current-color: white;


.messageArea {
  display: flex;
  align-items: center;
  padding: 1em;
  justify-content: flex-start;

  .dot {
    padding: 0.5em;
    background: $other-background;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
    align-self: flex-start;
    border-radius: 50%;
    opacity: 0;
    margin: 0 0.5em;
  }

  &.first {
    padding-bottom: 0.2em;

    .message {
      border-bottom-right-radius: var(--border-radius-xsmall);
      border-bottom-left-radius: var(--border-radius-xsmall);
    }
  }

  &.middle {
    padding: 0.2em 1em;

    .message {
      border-radius: var(--border-radius-xsmall);
    }
  }

  &.moreLast {
    padding-top: 0.2em;

    .message {
      border-top-right-radius: var(--border-radius-xsmall);
      border-top-left-radius: var(--border-radius-xsmall);
    }
  }

  &.last, &.first {
    .dot {
      opacity: 1;
    }
  }

  &.moreLast, &.middle {
    .message {
      .upper {
        display: none;
      }
    }
  }

  &.first, &.middle {
    .message {
      .bottom {
        display: none;
      }
    }
  }

  &.current {
    flex-flow: row-reverse;

    .message, .dot {
      background: $current-background;

      .upper {
        //flex-flow: row-reverse;
      }

      .content {
        //text-align: right;
      }
    }
  }


  .message {
    background: $other-background;
    padding: 1em 1em 0.5em 1em;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
    border-radius: var(--border-radius-small);
    min-width: 40%;
    position: relative;
    max-width: 90%;

    .upper {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .user-name {
        font-weight: 600;
        color: black;
      }
    }

    .content {
      padding: 0.5em 0;
      word-break: break-word;
      text-overflow: ellipsis;
    }

    .bottom {
      display: flex;
      flex-flow: row-reverse;
      align-items: center;

      .sent {
        font-size: 0.75em;
        font-weight: 600;
        color: rgba(#1e2023, 0.75);

        .status {
          img {
            height: 10px;
          }
        }
      }
    }
  }
}
