<ion-list lines = "none">
    <ion-list-header>Story Menu</ion-list-header>
    <ion-item (click) = "close('delete')" lines = "full">
        <ion-icon color = "dark" name = "trash"></ion-icon>
        <ion-label>Delete</ion-label>
        <ion-ripple-effect></ion-ripple-effect>
    </ion-item>
    <ion-item (click) = "close()">
        <ion-icon color = "danger" name = "close"></ion-icon>
        <ion-label color = "danger">Cancel</ion-label>
        <ion-ripple-effect></ion-ripple-effect>
    </ion-item>
</ion-list>
