<ion-card class = "ion-text-left">
    <ion-card-header>
        <ion-label [color] = "this.text.color" class = "ion-float-left">
            <b>{{this.text.from}}</b>
        </ion-label>
    </ion-card-header>
    <ion-card-content class = "margin-end">
        <br>
        <div>
            {{this.text.data}}
        </div>

    </ion-card-content>
    <b class = "ion-float-right"
       style = "margin-bottom: 4px;margin-right: 4px;">
        <sub>
            {{this.text.lastUpdate.toDate() | date : 'shortTime'}}
            <ion-icon *ngIf = "text.status === 'sent' && this.text.uName ===
                      this.text.from"
                      name = "checkmark">
            </ion-icon>
            <ion-icon *ngIf = "text.status === 'seen' && this.text.uName ===
                      this.text.from"
                      name = "checkmark-done">
            </ion-icon>
        </sub>
    </b>
</ion-card>
