<ion-header class = "ion-no-border">
    <ion-toolbar>
        <ion-title>
            <ion-label>{{currentUser?.name}}</ion-label>
        </ion-title>
        <ion-buttons slot = "end">
            <ion-button (click) = "showInputPopover($event)" fill = "clear"
                        shape = "round">
                <ion-icon name = "custom-search"></ion-icon>
            </ion-button>
            <ion-button (click) = "showMenu($event)" fill = "clear"
                        shape = "round">
                <ion-icon name = "custom-menu"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content *ngIf = "!loading">
    <app-stories></app-stories>
    <app-chat-item *ngFor = "let chat of chats" [chat] = "chat"
                   [currentUser] = "currentUser"
    ></app-chat-item>
</ion-content>
