<!--<div *ngIf = "loading">-->
<!--    <img alt = "Chat" src = "assets/chat.svg">-->
<!--</div>-->
<div class = "chat-page">
    <div *ngIf = "isChatEmpty()" class = "emptyChat">
        <img alt = "Chat" src = "assets/chat.svg">
    </div>
    <div *ngIf = "!isChatEmpty()" class = "messages">
        <app-message *ngFor = "let message of getMessages(); let i = index;
        let c = count"
                     [current] = "message.fromId === this.currentUser.uId"
                     [message] = "message"
                     [pos] = "getMessagePosition(message, i, c)"
                     [user] = "getUser(message.fromId)"
        ></app-message>
        <div class = "lastUpdated">
            <div class = "line"></div>
            <div class = "text">
                {{getDate(chat?.updatedAt) | date: 'MMM d, y, hh:mm a'}}
            </div>
            <div class = "line"></div>
        </div>
        <div id = "bottom"></div>
    </div>
</div>
