<!--<div *ngIf = "loading">-->
<!--    <img alt = "Chat" src = "assets/chat.svg">-->
<!--</div>-->
<div class = "chat-page">
    <div *ngIf = "isChatEmpty()" class = "emptyChat">
        <img alt = "Chat" src = "assets/chat.svg">
    </div>
    <div *ngIf = "!isChatEmpty()" class = "messages">
        <app-message *ngFor = "let message of getMessages()"
                     [current] = "message.fromId === this.currentUser.uId"
                     [message] = "message"
                     [user] = "getUser(message.fromId)"
        ></app-message>
        <div id = "bottom"></div>
    </div>
</div>
