$selected-color: white;
$default-color: rgb(102, 102, 102);
$selected-background: linear-gradient(to bottom right, var(--primary-to-success-gradient));

ion-tabs {
  position: relative;

  ion-tab-bar {
    position: fixed;
    bottom: 1%;
    left: 2.5%;
    width: 95%;
    margin: 0 auto;
    --border: none !important;
    box-shadow: var(--black-box-shadow-medium);
    border-radius: var(--border-radius-small);
    height: 10vh;
    overflow: hidden;

    ion-tab-button {
      background: $selected-color;
      color: $default-color;

      transition: all 0.05s ease-in-out;
      opacity: 80%;

      ion-icon {
        transition: all 0.25s ease-in-out;
        transform: translateY(50%);
      }

      ion-label {
        color: $default-color;
        transform: translateY(100px);
        transition: all 0.25s ease-in-out;
      }

      .indicator {
        transform: translateY(-100px);
        transition: all 0.25s ease-in-out;
        width: 5px;
        height: 5px;
        border-radius: 50%;
        background: $default-color;
        margin-bottom: 0.5em;
      }

      &.selected-button {
        background: $selected-background;
        color: $selected-color;
        border-radius: var(--border-radius-small);
        opacity: 100%;

        ion-label {
          transform: translateY(-10px);
          color: $selected-color;
        }

        ion-icon {
          transform: translateY(-100px);
        }

        .indicator {
          background-color: $selected-color;
          transform: translateY(-10px);
        }
      }
    }
  }
}
