ion-tab-button {
  position: relative;
  background: white;
  transition: box-shadow 0.25s ease-in-out;
  z-index: 2;
}

ion-tab-bar {
  height: 10vh;
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  --border: none;
  --background: none;
  padding: 1em;
}

.selected-button {
  position: relative;
  background: none;
  box-shadow: none;
  z-index: 1;

  &:before {
    content: '';
    height: 100%;
    width: 100%;
    position: absolute;
    background: white;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
    left: -75%;
    top: 0;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
  }

  &:after {
    content: '';
    height: 100%;
    width: 100%;
    position: absolute;
    background: white;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
    right: -75%;
    top: 0;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
  }

  ion-icon {
    padding: 0.5em;
    border-radius: 50%;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
    background: white;
  }
}

.selected-indicator {
  width: 23px;
  height: 6px;
  position: fixed;
  bottom: 0;

  background: var(--ion-color-primary);
  border-radius: 10px 10px 0 0;
  animation: riseUp 0.75s ease-in;
}

@keyframes riseUp {
  0% {
    transform: translateY(400%);
  }
  50% {
    transform: translateY(0);
    height: 12px;
    width: 11px;
    border-radius: 50% 50% 0 0;
  }
  100% {
    transform: translateY(0);
  }
}
