<ion-header *ngIf = "user">
    <ion-toolbar>
        <ion-title>{{user.uName}}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content *ngIf = "user" class = "ion-text-center ion-padding">

    <div style = "height: 10vh; margin-bottom: 40%; margin-top: 5vh;">
        <ion-avatar (click) = "openProfileSelector()"
                    style = "margin: auto; width: 100px; height: 100px;">
            <ion-img [src] = "this.user.uProPic">
            </ion-img>
        </ion-avatar>
        <ion-button (click) = "openProfileSelector()">Pick an Avatar!
        </ion-button>
    </div>

    <mat-form-field>
        <mat-label>User Name</mat-label>
        <input [(ngModel)] = "this.user.uName"
               autocomplete = "false"
               matInput
               minlength = "3"
               name = "userName"
               placeholder = "George"
               required
               type = "text">
        <mat-icon matSuffix>
            <ion-icon name = "person"></ion-icon>
        </mat-icon>
    </mat-form-field>

    <br>

    <mat-form-field>
        <mat-label>User Email</mat-label>
        <input [(ngModel)] = "this.user.uEmail" email
               matInput
               name = "userEmail"
               placeholder = "george7921@gmail.com"
               required
               type = "email">
        <mat-icon matSuffix>
            <ion-icon name = "mail"></ion-icon>
        </mat-icon>
    </mat-form-field>

    <br>

    <mat-form-field>
        <mat-label>Phone Number</mat-label>
        <input [(ngModel)] = "this.user.uPhone"
               matInput
               name = "phone"
               pattern = "[0-9]{3}-[0-9]{3}-[0-9]{4}"
               placeholder = "123-456-7890"
               type = "tel">
        <mat-icon matSuffix>
            <ion-icon name = "call"></ion-icon>
        </mat-icon>
    </mat-form-field>


    <ion-fab horizontal = "start" vertical = "bottom">
        <ion-fab-button (click) = "dismiss(false)" color = "danger">
            <ion-icon name = "close"></ion-icon>
        </ion-fab-button>
    </ion-fab>

    <ion-fab horizontal = "end" vertical = "bottom">
        <ion-fab-button (click) = "dismiss(false)" color = "success">
            <ion-icon name = "save"></ion-icon>
        </ion-fab-button>
    </ion-fab>
</ion-content>
