<ion-content fullscreen>
    <div class = "view-story">
        <ion-toolbar class = "header">
            <ion-buttons slot = "start">
                <ion-button (click) = "close(false)" fill = "clear"
                            shape = "round">
                    <ion-icon color = "light" name = "chevron-back"></ion-icon>
                </ion-button>
            </ion-buttons>
            <ion-title *ngIf = "storyUser" class = "title">
                {{storyUser.name}}'s Story
            </ion-title>
            <ion-buttons (click) = "showPopover($event)"
                         *ngIf = "currentUser?.uId === storyUser?.uId"
                         slot = "primary">
                <ion-button fill = "clear" shape = "round">
                    <ion-icon color = "light"
                              name = "ellipsis-vertical"></ion-icon>
                </ion-button>
            </ion-buttons>
        </ion-toolbar>
        <img [src] = "story.fileURL" alt = "Story" class = "story">
    </div>
</ion-content>
