.view-story {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: black;
  flex-flow: column nowrap;


  .header {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: fit-content;
    min-height: 10vh;
    color: white;
    z-index: 1;
    align-items: center;
    justify-content: flex-start;
    padding: 2em;
    background-image: var(--background-filter-fade-top);

    .back-button {
      border-radius: var(--border-radius-full);
      padding-right: 1em;
      font-size: 1.5em;
    }

    .title {
      font-weight: 600;
      font-size: 1.25em;
    }
  }

  .indicators {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1em 2em;
    flex-flow: row nowrap;
    position: sticky;
    bottom: 0;

    //.indicator {
    //  position: relative;
    //  width: 100%;
    //  height: 5px;
    //  background: rgba(255, 255, 255, 0.5);
    //  border-radius: var(--border-radius-large);
    //  overflow: hidden;
    //
    //  // TODO: Future Functionality
    //  //&:after {
    //  //  content: '';
    //  //  position: absolute;
    //  //  width: 100%;
    //  //  height: 100%;
    //  //  top: 0;
    //  //  left: 0;
    //  //  background: white;
    //  //  animation: load-left 10s linear;
    //  //}
    //}
  }
}


@keyframes load-left {
  from {
    left: -100%;
  }
}
