.input-field {
	position: relative;
	display: flex;
	
	align-items: center;
	justify-content: flex-start;
	
	width: 80%;
	height: fit-content;
	
	padding: 1em 2em;
	
	transition: all 0.1s ease-in-out;
	border-radius: 10px;
	
	background: var(--white-background);
	
	box-shadow: var(--bsb);
	
}

.input-field:focus-within, .input-field:active {
	//outline: 2px solid var(--primary);
	box-shadow: 0 4px 32px rgba(0, 0, 0, 0.05);
}

input {
	font-size: 1.2em;
	font-weight: 500;
	width: 90%;
	height: 100%;
	
	border: none;
	background: none;
	
}

input:focus, input:active {
	outline: none;
}

button.go {
	font-size: 1.2em;
	font-weight: 700;
	
	position: relative;
	display: flex;
	
	align-items: center;
	justify-content: center;
	
	width: 80%;
	
	height: fit-content;
	padding: 1em 2em;
	color: white;
	
	border: none;
	
	border-radius: 10px;
	outline: none;
	background: none;
	
	box-shadow: var(--bsb);
}

button.success {
	letter-spacing: 1px;
	text-transform: uppercase;
	background: var(--primary);
	box-shadow: var(--bsp) !important;
}

button {

}
