<ion-content class = "ion-padding ion-text-center" fullscreen>
	<img alt = "Snazzy Labs Logo Light" src = "assets/icon/logo_light.png">
	<br>
	<form #f = "ngForm"
	      (ngSubmit) = "login()" class = "w-100">
		<div class = "input-field">
			<input [(ngModel)] = "email"
			       email
			       id = "email"
			       matInput
			       name = "email"
			       placeholder = "Enter you email..."
			       required
			       type = "email">
			<mat-icon matSuffix>email</mat-icon>
		</div>
		<div class = "input-field">
			<input [(ngModel)] = "password"
			       id = "password"
			       matInput
			       name = "password"
			       placeholder = "*********"
			       required
			       type = "password">
			<mat-icon matSuffix>password</mat-icon>
		</div>
		<p>Don't have an account? <b routerLink = "/register">Register!</b></p>
		<button class = "go success" type = "submit">Login</button>
	</form>
</ion-content>
