<ion-header>
    <ion-toolbar color = 'primary'>
        <ion-title>
            Login
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class = 'ion-text-center ion-padding'>

    <form #loginForm = 'ngForm' (ngSubmit) = 'login()'
          style = 'margin-top: 5rem;'>

        <mat-form-field>
            <mat-label>Email</mat-label>
            <input matInput
                   [(ngModel)] = 'email'
                   type = 'email'
                   name = 'email'
                   (keypress) = 'keypressed($event)'
                   email
                   required>
        </mat-form-field>
        <br>
        <mat-form-field>
            <mat-label>Password</mat-label>
            <input matInput
                   [(ngModel)] = 'password'
                   type = 'password'
                   name = 'password'
                   minlength = '6'
                   (keypress) = 'keypressed($event)'
                   required>
        </mat-form-field>

    </form>

    <!--    <br>-->
    <!--    <b>Or</b>-->
    <br>
    Don't have an account? <b routerLink = '/signup'>Sign-up</b>

    <ion-fab vertical = 'bottom' horizontal = 'end' slot = 'fixed'>
        <ion-fab-button color = 'primary'
                        [disabled] = 'loginForm.invalid'
                        (click) = 'login()'>
            <ion-icon name = 'log-in' size = 'large'></ion-icon>
        </ion-fab-button>
    </ion-fab>

</ion-content>

