ion-content {
  height: 100%;
  display: flex;
  flex-flow: column;

  .login {
    flex-flow: column;

    .wrapper {
      text-align: center;
    }
  }

  form {
    width: 80%;

    .message {
      text-align: center;
    }
  }

  img {
    width: 30%;
    margin-bottom: 10em;
  }

}

@media only screen and (min-width: 425px) {
  .wrapper {
    width: 425px;
  }
}
