<ion-content class = "ion-padding ion-text-center" fullscreen>
	<img alt = "Snazzy Labs Logo Light" src = "assets/icon/logo_light.png">
	<br>
	<form #f = "ngForm"
	      (ngSubmit) = "register()" class = "w-100">
		<div class = "input-field">
			<input [(ngModel)] = "email"
			       email
			       id = "email"
			       matInput
			       name = "email"
			       placeholder = "Enter you email..."
			       required
			       type = "email">
			<mat-icon matSuffix>email</mat-icon>
		</div>
		<div class = "input-field">
			<input [(ngModel)] = "name"
			       id = "name"
			       matInput
			       name = "name"
			       placeholder = "Enter you name..."
			       required
			       type = "text">
			<mat-icon matSuffix>person</mat-icon>
		</div>
		<div class = "input-field">
			<input [(ngModel)] = "phone"
			       id = "phone"
			       matInput
			       name = "phone"
			       placeholder = "Phone number"
			       required
			       type = "tel">
			<mat-icon matSuffix>phone</mat-icon>
		</div>
		<div class = "input-field">
			<input [(ngModel)] = "password"
			       id = "password"
			       matInput
			       name = "password"
			       placeholder = "*********"
			       required
			       type = "password">
			<mat-icon matSuffix>password</mat-icon>
		</div>
		<p>Already have an account? <b routerLink = "/login">Login!</b></p>
		<button class = "go success" type = "submit">Register</button>
	</form>
</ion-content>
