<ion-header class = "ion-no-border">
    <ion-toolbar color = "primary" mode = "md">
        <ion-title>Snazzy Chats</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-slides #slides
                [options] = "slideOptions"
                [pager] = "showPager()">
        <ion-slide
                class = "ion-padding ion-align-items-center ion-justify-content-center">
            <div class = "page signup">
                <img alt = "Logo" src = "assets/logo-light.png">
                <form #emailForm = "ngForm" (submit) = "handleEmailSubmit()">
                    <mat-form-field>
                        <mat-label>Email</mat-label>
                        <input [(ngModel)] = "email" id = "email" matInput
                               name = "email"
                               placeholder = "jack.doe@email.com"
                               required
                               type = "email">
                        <mat-error *ngIf = "showEmailError">
                            {{showEmailError}}
                        </mat-error>
                    </mat-form-field>
                    <br>
                    <br>
                    <div class = "message">
                        Already have an account?
                        <strong routerLink = "/login">Login!</strong>
                    </div>
                    <br>
                    <br>
                    <ion-button [disabled] = "processing" color = "success"
                                size = "block"
                                type = "submit">
                        <app-loader *ngIf = "processing"></app-loader>
                        Signup
                    </ion-button>
                </form>
            </div>
        </ion-slide>
        <ion-slide
                class = "ion-padding ion-align-items-center ion-justify-content-center">
            <div class = "page signup">
                <img alt = "Logo" src = "assets/logo-light.png">
                <form #userNameForm = "ngForm"
                      (submit) = "handleUserNameSubmit()">
                    <mat-form-field>
                        <mat-label>Name</mat-label>
                        <input [(ngModel)] = "name" id = "name" matInput
                               name = "name"
                               placeholder = "Jack Doe"
                               required
                               type = "text">
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Password</mat-label>
                        <input [(ngModel)] = "password" id = "password" matInput
                               name = "password"
                               placeholder = "*******"
                               required
                               type = "password">
                    </mat-form-field>
                    <br>
                    <br>
                    <div class = "message">
                        Already have an account?
                        <strong routerLink = "/login">Login!</strong>
                    </div>
                    <br>
                    <br>
                    <ion-button [disabled] = "processing" color = "success"
                                size = "block" type = "submit">
                        <app-loader *ngIf = "processing"></app-loader>
                        Signup
                    </ion-button>
                </form>
            </div>
            <ion-fab horizontal = "start" vertical = "bottom">
                <ion-fab-button (click) = "slides.slidePrev()"
                                color = "warning">
                    <ion-icon name = "chevron-back"></ion-icon>
                </ion-fab-button>
            </ion-fab>
        </ion-slide>
    </ion-slides>
</ion-content>
