<ion-header *ngIf = "user">
    <ion-toolbar color = "light">
        <ion-title>{{user.uName}}</ion-title>
        <ion-buttons slot = "end">
            <ion-button (click) = "openMenu($event)" fill = "clear">
                <ion-icon name = "ellipsis-vertical"></ion-icon>
            </ion-button>
        </ion-buttons>

    </ion-toolbar>
</ion-header>

<ion-content *ngIf = "user" class = "ion-text-center">

    <p *ngIf = "!this.chat" style = "margin-top: 40vh;">
        Welcome to Baatein!
        <br>
        <b>
            Click on a user to start chatting!
        </b>
    </p>
    <app-chat *ngIf = "chat"
              [@push] [data] = "{user: this.user, oUser: this.selectedUser,
              chat: this.selectedChat}"
              style = "right: 0;left: 0;height: 100%;"></app-chat>

</ion-content>
<ion-footer>
    <div class = "cont ion-text-left">
        <div class = "scroll" scrollX = "true">
            <span class = "bottom-bar">
                <ion-fab-button (click) = "openUsersList()"
                                class = "icon-image"
                                color = "primary">
                    <ion-icon name = "add"></ion-icon>
                </ion-fab-button>
            </span>
            <span *ngFor = "let chat of this.chats" class = "bottom-bar">
                <ion-avatar (click) = "loadChat(chat)" [matTooltip] = "this.getOtherUser(chat).uName |
                            initial"
                            class = "icon-image"
                            matTooltipPosition = "above">
                    <ion-img [src] = "getOtherUser(chat).uProPic"
                             alt = "BS">
                    </ion-img>
                </ion-avatar>
            </span>
            <span *ngFor = "let user of users" class = "bottom-bar">
            </span>
        </div>
    </div>
</ion-footer>
