.container {
  width: 100vw;
  background-color: lightblue;
  overflow: hidden;
  white-space: nowrap;

  ::-webkit-scrollbar {
    display: none;
  }

  .scroll {
    overflow: auto;
  }
}

app-chat {
  display: flex;
  flex-direction: column;
}

.bottom-bar {
  display: inline-block;

  .icon-image {
    margin: 4px;
  }

  .disabled {
    filter: grayscale(100%);
  }

}
