$story-width: 5rem;
$story-height: $story-width * 1.6;
$story-font: $story-width / 6;

.story {
  display: grid;
  place-items: center;
  height: 100%;
  width: 100%;
  padding: 0 1em;

  .storyArea {
    position: relative;
    width: $story-width;
    height: $story-height;
    background: white;
    border-radius: var(--border-radius-small);
    display: grid;
    place-items: center;
    cursor: pointer;
    box-shadow: var(--black-box-shadow-small);

    &.add {
      background-image: linear-gradient(to right bottom, var(--primary-to-success-gradient));
      text-align: center;

      .text {
        font-weight: 700;
        line-height: 2rem;
        text-transform: uppercase;
        letter-spacing: 2px;
        color: #1e2023;
        font-size: $story-font;
        text-shadow: 0 1px 8px rgba(0, 0, 0, 0.15);
      }
    }

    .profilePic {
      width: 100%;
      height: 100%;
      position: relative;
      display: grid;
      place-items: center;

      &:after {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        background-image: var(--background-filter-fade-bottom);
      }

      img {
        height: 100%;
        object-fit: cover;
      }

      .user-name {
        color: white;
        position: absolute;
        z-index: 1;
        bottom: $story-font * 0.5;
        left: $story-font * 0.5;
      }
    }

    .addButton {
      position: absolute;
      bottom: 5%;
      left: 5% * 1.6;
      background: #2dd36f;
      color: white;
      border-radius: 15px;
      box-shadow: 0 1px 6px rgba(0, 0, 0, 0.15);
    }
  }
}
