$avatar-width: 100px;
$avatar-height: $avatar-width * 1.6;

.avatar-selector {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1em;

  .avatar {
    position: relative;
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
    cursor: pointer;


    .selector {
      position: absolute;
      bottom: 0.5em;
      right: 0.5em;
      opacity: 0;
      transition: 0.25s ease-in-out;
      transform: scale(0);
      transform-origin: center center;
      z-index: 1;
    }

    &.selected:after {
      content: '';
      width: 100%;
      height: 100%;
      background-image: var(--background-filter-fade-bottom);
      position: absolute;
      top: 0;
      left: 0;
    }

    &.selected {
      .selector {
        opacity: 1;
        transform: scale(1);
      }
    }
  }

}
